<!doctype html>
<html>
  <head>
    <%- include('./_head.ejs') %>
  </head>

  <body>
    <%- include('./_nav.ejs') %>
    
    <main class="container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        
        <% for (const article of articles) { %>
        <article class="col my-2">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <small>Category</small>
                <form style="float: right;" method="POST" action="/article/<%= article.id %>/delete">

                  <a href="/article/<%= article.id %>/edit" class="btn btn-outline-dark"><i class="fas fa-edit"></i></a>
                  <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                </form>
              </p>
              <h4 class="card-title"><a href="/article/<%= article.id %>"><%= article.title %></a></h4>
              <p class="card-text"><%= article.content %></p>
            </div>
          </div>

        </article>
        <% } %>
      </div>
    </main>

    <%- include('./_tail.ejs') %>

    <script>
      function confirmDelete () {
        const answer = confirm('정말로 이 글을 삭제할까요?')
        if (answer) {
          alert('delete check test')
        }
      }
    </script>
  </body>
</html>
